.whatsapp-float {
  position: fixed;
  bottom: 90px; /* justo arriba del footer */
  right: 25px;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}

/* Botón principal */
.whatsapp-btn {
  background-color: #0d9488; /* verde petróleo */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #0b7d74;
  transform: scale(1.08);
}